.label {
  position: relative;
  left: 100px;
  width: 100%;
  padding: 7px 0px;
  color: white;
  font-weight: bold;
}

.error {
  position: relative;
  left: 100px;
  width: 100%;
  padding: 7px 0px;
  color: red;
}
